.enroll-section {
  padding: 80px 20px;
}

.enroll-banner {
  background-image: url('./images/enrollnow-banner-bg.jpeg'); /* Optional: add background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 40px;
  text-align: center;
  border-radius: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.rocket-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
}

.star-icon {
  position: absolute;
  width: 40px;
  fill: #facc15; /* Yellow-400 */
}

.star-top {
  top: 24px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.star-bottom {
  bottom: 24px;
  right: 80px;
  transform: rotate(12deg);
}

.enroll-text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  max-width: 700px;
  z-index: 10;
}

.enroll-button-now {
  padding: 14px 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  color: #113177;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s ease;
}

.enroll-button-now:hover {
  background-color: #e2e2e2; /* hover yellow */
}
